@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Email Confirmed</h4>
                </div>
                <div class="card-body text-center">
                    <div class="alert alert-success">
                        <i class="fas fa-check-circle fa-3x mb-3"></i>
                        <h5>Success!</h5>
                        <p>Your email has been confirmed successfully. You can now log in to your account.</p>
                    </div>
                    
                    <div class="mt-3">
                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>